.category-mapping {
  .el-card__body {
    height: 100%;
  }
  .is-header .el-card__body {
    height: calc(100% - 29px);
  }

  .custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    padding-right: 8px;
    &.active {
      font-weight: 700;
      color: #409EFF;
    }
  }

  .el-tree-node.is-current>.el-tree-node__content {
    color: #606266;
    background: transparent;
  }
  .cm-box > div {
    flex: 1 1 0%;
  }
}